div.gameArea {
    border: 1px solid #777;
    overflow: hidden;
    cursor: pointer;
    box-sizing: content-box;
}

div.mrow {

}

div.cell {
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    height: 9px;
    width: 9px;
}

div.cell:hover {
    background-color: black;
}

div.cell.alive {
    background-color: black;
}
